.component
  flex 0 0 350px
  color black

  ul
    &:first-child
      list-style none
      padding 0
      margin 0

      li
        border inset 1px #a3a3a3
        text-align center
        display inline
        background-color white
        padding 10px

        &:hover
          background-color #c4c4c4

    &:last-child
      border inset 1px #a3a3a3
      border-radius 0.2em
      height 150px
      width 281px
      margin-top 0
      padding-top 20px
      background-color white
      li
        margin 0
        border-bottom inset 1px #a3a3a3
        width 240px
        list-style none

.selected
  font-weight bold
