.component
  flex 1 0

  ul
    &:first-child
      list-style none
      padding 0
      margin 0

      .tab
        background-color white

      .active-tab
        background-color #f2f2f2

      li
        border inset 1px #a3a3a3
        text-align center
        display inline
        padding 10px

        &:hover
          background-color #f2f2f2

    &:last-child
      border inset 1px #a3a3a3
      border-radius 0 0 0.2em 0.2em
      background-color white
      overflow-y scroll

      li
        margin 0
        border-bottom inset 1px #a3a3a3
        list-style none

.selected
  font-weight bold
