.component
  flex 0 0 350px
  color black

  ul
    &:first-child
      list-style none
      padding 0
      margin 0
      margin-top 20px

      .tab
        background-color white

      .active-tab
        background-color #f2f2f2

      li
        border inset 1px #a3a3a3
        text-align center
        display inline
        padding 10px

        &:hover
          background-color #f2f2f2

    &:last-child
      border inset 1px #a3a3a3
      border-radius 0 0 0.2em 0.2em
      height 150px
      width 281px
      margin-top 10px
      padding-top 20px
      background-color white
      overflow-y scroll
      li
        margin 0
        border-bottom inset 1px #a3a3a3
        width 235px
        list-style none

.selected
  font-weight bold
